@media only screen and (min-width: 415px) {
  #footerfont {
    position: relative;
    margin-left: 45%;
    color: white;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  #footerfont {
    position: relative;
    margin-left: 38%;
    color: white;
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
}
