@media only screen and (min-width: 415px) {
  #footerfont {
    position: relative;
    margin-left: 0%;
    color: white;
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
  #navbar {
    position: relative;
    bottom: 0%;
    background-color: #343a40;
  }
}

@media only screen and (max-width: 414px) {
  #footerfont {
    position: relative;
    margin-left: 38%;
    color: white;
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
  #navbar {
    position: fixed;
    bottom: 0%;
    background-color: #343a40;
  }
}
