.navbar {
        font-weight: 1000;
        font-size: 16px;
        padding-top: 3px;
        padding-bottom: 3px;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Raleway', sans-serif;

    }
#navbarcolor {
    background-color: #62687F;
}